/* Effective stylesheet produced by snapshot save */
.wp { width: 98%; }
#hd .wp, #wp { min-width: 960px; }
#nv, #mu { border-left: 1px solid rgb(153, 153, 153); border-right: 1px solid rgb(153, 153, 153); }
#nv { background-repeat: repeat-x; background-position: 0px -33px; }
